# Exclude docs from release archives
/docs/* export-ignore

# Exclude GitHub workflow + scripts from release zips
.github/* export-ignore
/scripts/* export-ignore

# Keep these files out of distributed zips
.gitignore export-ignore
.gitattributes export-ignore

# Ensure consistent line endings
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.md text eol=lf
